In [1]:
import numpy as np
import pandas as pd

In [20]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

In [21]:
dataset = pd.read_csv("INFY.csv")

In [22]:
dataset.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,14-10-2021,1754.000000,1783.599976,1698.199951,1715.750000,1682.855835,19655776
1,18-10-2021,1740.000000,1799.000000,1740.000000,1792.150024,1757.791138,13438109
2,19-10-2021,1814.000000,1834.500000,1782.300049,1822.150024,1787.215942,10324260
3,20-10-2021,1829.400024,1848.000000,1794.050049,1802.349976,1767.795532,5876115
4,21-10-2021,1814.000000,1814.000000,1746.849976,1753.650024,1720.029175,8779629

In [23]:
dataset = dataset.drop(columns = "Date",axis = 1)

In [24]:
dataset.head()

          Open         High          Low        Close    Adj Close    Volume
0  1754.000000  1783.599976  1698.199951  1715.750000  1682.855835  19655776
1  1740.000000  1799.000000  1740.000000  1792.150024  1757.791138  13438109
2  1814.000000  1834.500000  1782.300049  1822.150024  1787.215942  10324260
3  1829.400024  1848.000000  1794.050049  1802.349976  1767.795532   5876115
4  1814.000000  1814.000000  1746.849976  1753.650024  1720.029175   8779629

In [25]:
x = dataset.drop(columns = ["Close","Adj Close"],axis =1)

In [26]:
y = dataset["Close"]

In [27]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [28]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 3,random_state = 23)

In [29]:
sc = StandardScaler()

In [30]:
# x_train = sc.fit_transform(x_train)

In [31]:
# x_test = sc.transform(x_test)

In [32]:
lr = LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [33]:
y_pred = lr.predict(x_test)

In [34]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred)*100

99.72203149709313

In [38]:
import joblib
joblib.dump(lr,"model_Infosys.joblib")

['model_Infosys.joblib']